body {
    background: linear-gradient(#000000 1%, #e24444);
    background-repeat: no-repeat;
    min-height: 100vh;
}


.nav-link{
    font-size: 40px;
    color: white;
}

.nav-link:hover{
    color: rgb(139, 139, 139);
}

.home-title{
    color: white;
    font-size: 30px;
    text-align: center;
}

.about-text{
    color: white;
    font-size: 30;
}

.page-name{
    color: white;
    font-size: 30px;
}