body {
    background: linear-gradient(#000000 1%, #e24444);
    background-repeat: no-repeat;
    min-height: 100vh;
}


.nav-link{
    font-size: 40px;
    color: white;
}

.nav-link:hover{
    color: rgb(139, 139, 139);
}

.home-title{
    color: white;
    font-size: 20px;
    text-align: center;
    animation: fadeIn 3s; 
}

.about-text{
    color: white;
    font-size: 25px;
    animation: fadeIn 6s; 

}

.page-name{
    color: white;
    font-size: 30px;
    animation: fadeIn 3s; 

}

.white{
    color: white;
    text-decoration: none;
}

.bag-container{
    margin-top: 200px;
}

.project-text{
    margin-top: 150px;
    font-size: 20px;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}


@media(prefers-reduced-motion) {
    .hidden {
        opacity: 0;
        transition: none;
    }
    
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  